@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

html {
  scroll-behavior: smooth;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

._btn {
  background-color: #0a6418;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px;
}

._btn:hover {
  background-color: #075213;
}

._margin-b {
  margin-bottom: 170px;
}

@media (max-width: 767.98px) {
  ._margin-b {
    margin-bottom: 100px;
  }
}

._h2 {
  text-align: center;
  font-size: 75px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 50px;
  color: #1d3a02;
}

@media (max-width: 767.98px) {
  ._h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

._input {
  border: 1px solid #c7c5c5;
  outline: 1px solid #ffffff;
  border-radius: 7px;
  height: 46px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #232323;
  padding-left: 10px;
}

._input::-webkit-input-placeholder {
  color: #232323;
}

._input:-ms-input-placeholder {
  color: #232323;
}

._input::-ms-input-placeholder {
  color: #232323;
}

._input::placeholder {
  color: #232323;
}

._input:hover, ._input:focus {
  border: 2px solid #c7c5c5;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  position: relative;
}

html.lock {
  overflow: hidden;
}

body {
  color: #1d3a02;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body._lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 375px) {
  [class*="__container"] {
    padding: 0px 10px;
  }
}

.header {
  padding: 16px 0px;
  height: 79px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

@media (max-width: 767.98px) {
  .header {
    height: 70px;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .header__body {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 90px 10px 30px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ffffff;
    z-index: 11;
    gap: 40px;
  }
  .header__body.active {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

@media (max-width: 767.98px) and (max-height: 420px) {
  .header__body {
    height: 100vh;
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@media (max-width: 767.98px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__link {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d3a02;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__link:hover {
  background-color: #0a6418;
}

@media (max-width: 767.98px) {
  .header__link {
    width: 40px;
    height: 40px;
  }
  .header__link img {
    width: 70%;
  }
}

.header__button {
  width: 181px;
  height: 46px;
}

.header__phone {
  font-weight: 600;
  line-height: 130%;
  color: #1d3a02;
  margin-bottom: 2px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__phone:hover {
  color: #0a6418;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@media (max-width: 767.98px) {
  .header__social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.menu__link {
  font-weight: 600;
  line-height: 130%;
  color: #1d3a02;
  position: relative;
}

.menu__link::after {
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
  background-color: #1d3a02;
  height: 2px;
  width: 0%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__link:hover::after {
  width: 100%;
}

.header__burger {
  display: none;
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: absolute;
    width: 18px;
    height: 16px;
    cursor: pointer;
    z-index: 15;
    right: 15px;
    top: 72%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .header__burger::after {
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #0a6418;
    border-radius: 50%;
  }
  .header__burger span {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    top: calc(50% - 1px);
    right: 0;
    position: absolute;
    width: 70%;
    height: 2px;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 3px;
  }
  .header__burger span:first-child {
    right: 0px;
    width: 100%;
    top: 0px;
  }
  .header__burger span:last-child {
    top: auto;
    bottom: 0px;
    width: 100%;
    right: 0px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 7px;
    width: 100%;
  }
  .header__burger.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 7px;
    width: 100%;
  }
}

.reasons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons__title {
  max-width: 1000px;
}

.reasons__body {
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .reasons__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.reasons__item {
  text-align: center;
}

.reasons__icon {
  margin-bottom: 12px;
}

.reasons__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  max-width: 165px;
}

.intro {
  position: relative;
}

.intro__bg {
  height: 100lvh;
}

@media (max-height: 550px) {
  .intro__bg {
    height: 700px;
  }
}

@media (max-width: 767.98px) {
  .intro__bg {
    background-position: 62%;
  }
}

.intro__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__container {
  padding-top: 110px;
}

.intro__body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

@media (max-width: 767.98px) {
  .intro__body {
    gap: 15px;
  }
}

.intro__title {
  font-size: 96px;
  font-weight: 700;
  line-height: 100%;
  max-width: 1000px;
}

@media (max-width: 991.98px) {
  .intro__title {
    font-size: 48px;
  }
}

.intro__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  max-width: 630px;
}

@media (max-width: 767.98px) {
  .intro__text {
    font-size: 14px;
  }
}

.intro__link {
  width: 384px;
  height: 60px;
  font-size: 20px;
}

@media (max-width: 991.98px) {
  .intro__link {
    width: 100%;
  }
}

.routes__triggers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .routes__triggers {
    gap: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.routes__trigger {
  outline: 1px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  border: 1px solid #788a66;
  border-radius: 5px;
  background-color: inherit;
  padding: 10px;
}

.routes__trigger:hover {
  border: 2px solid #075213;
}

.routes__trigger.active {
  border: 2px solid #0a6418;
}

.routes__trigger.active:hover {
  border: 2px solid #0a6418;
}

@media (max-width: 767.98px) {
  .routes__trigger {
    font-size: 14px;
  }
}

.routes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 30px;
}

.routes__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 16px);
          flex: 0 1 calc(33.333% - 16px);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(96, 96, 96, 0.19);
          box-shadow: 0px 2px 15px 0px rgba(96, 96, 96, 0.19);
  border-radius: 7px;
  background-color: #ffffff;
  padding: 20px;
}

@media (max-width: 1200px) {
  .routes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 12px);
            flex: 0 1 calc(50% - 12px);
  }
}

@media (max-width: 767.98px) {
  .routes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.routes__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  border-radius: 6px;
}

.routes__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin: 20px 0px;
}

@media (max-width: 767.98px) {
  .routes__name {
    font-size: 20px;
  }
}

.routes__link {
  width: 100%;
  height: 46px;
}

@media (max-width: 767.98px) {
  .routes__link {
    font-size: 14px;
  }
}

.routes__more {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 384px;
  height: 46px;
  border: 1px solid #0a6418;
  border-radius: 7px;
  background-color: inherit;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.routes__more:hover {
  border: 2px solid #075213;
}

@media (max-width: 767.98px) {
  .routes__more {
    width: 100%;
    font-size: 14px;
  }
}

.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 30px;
}

.reviews__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 16px);
          flex: 0 1 calc(33.333% - 16px);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(96, 96, 96, 0.19);
          box-shadow: 0px 2px 15px 0px rgba(96, 96, 96, 0.19);
  border-radius: 7px;
  background-color: #ffffff;
  padding: 20px;
}

@media (max-width: 1200px) {
  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 12px);
            flex: 0 1 calc(50% - 12px);
  }
}

@media (max-width: 767.98px) {
  .reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.reviews__img img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.reviews__firtname {
  font-weight: 600;
  line-height: 130%;
}

@media (max-width: 767.98px) {
  .reviews__firtname {
    font-size: 14px;
  }
}

.reviews__lastname {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

@media (max-width: 767.98px) {
  .reviews__lastname {
    font-size: 20px;
  }
}

.reviews__content {
  font-weight: 500;
  line-height: 130%;
  color: #232323;
}

.reviews__more {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 384px;
  height: 46px;
  border: 1px solid #0a6418;
  border-radius: 7px;
  background-color: inherit;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.reviews__more:hover {
  border: 2px solid #075213;
}

@media (max-width: 767.98px) {
  .reviews__more {
    width: 100%;
    font-size: 14px;
  }
}

.book__title {
  text-align: left;
}

@media (max-width: 767.98px) {
  .book__title {
    text-align: center;
  }
}

.book__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

@media (max-width: 767.98px) {
  .book__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

.book__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
}

@media (max-width: 767.98px) {
  .book__input {
    height: 46px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.book__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .book__button {
    height: 46px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
