html {
  scroll-behavior: smooth;
}
// resolution
$pc: 1200px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

//colors
$green-dark: #1d3a02;
$green: #0a6418;
$green-hover: #075213;
$white: #ffffff;
$black: #232323;
$gray: #c7c5c5;
$light: #fefdfa;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    display: none;
  }
}

._btn {
  background-color: $green;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: $white;
  border-radius: 7px;
  padding: 10px;
  &:hover {
    background-color: $green-hover;
  }
}

._margin-b {
  margin-bottom: 170px;
  @media (max-width: $mobile) {
    margin-bottom: 100px;
  }
}

._h2 {
  text-align: center;
  font-size: 75px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 50px;
  color: $green-dark;
  @media (max-width: $mobile) {
    font-size: 36px;
    margin-bottom: 30px;
  }
}

._input {
  border: 1px solid rgb(199, 197, 197);
  outline: 1px solid $white;
  border-radius: 7px;
  height: 46px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: $black;
  padding-left: 10px;
  &::placeholder {
    color: $black;
  }

  &:hover,
  &:focus {
    border: 2px solid rgb(199, 197, 197);
  }
}

.breadcrumbs {
  padding-top: 110px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 30px;
  color: $black;
  @media (max-width: $mobile) {
    font-size: 14px;
  }
}
